<section id="luchadores">
  <div id="luch-container">
    <div class="pesos" *ngFor="let campeon of campeones">
     <a href="/luchador/{{campeon.id}}"> <div id="campeon">
        <div id="img-campeon">
          <img [src]="urlImg + campeon.imagen" alt="">
      </div>
        <div id="info-campeon">
          <p id="text-peso"># {{campeon.peso}}</p>
          <p id="text-nombre">{{campeon.nombre}}</p>

          <p id="text-campeon">Campeon</p>
        </div>
      </div></a>
      <div id="ranking">
        <a  *ngFor="let luchador of obtenerPeso(campeon.pesoid)" href="/luchador/{{luchador.id}}"><div class="luchador" ><p>#{{luchador.rango}}  {{luchador.nombre}}</p></div></a>
      </div>
    </div>
  </div>
</section>
